// Header
.navigation {
  padding: 0 0 $padding-small 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  width: 100vw;
  padding: 0 2rem;

  .linkGroup {
    display: flex;
    justify-content: space-between;
    width: 60%;
    position: relative;
  
    @include respond(landscape) {
      // border: 1px solid yellow;
      width: 60%;
    }
    @include respond(desktop-lg) {
      // border: 1px solid yellow;
      width: 40%;
    }
  }

  .nav-logo,
  .home,
  .offer {
    display: inline-block;
    height: 2.5rem;
    margin-top: 1rem;
  }

  .nav-logo {
    // padding-left: 0rem;
    transform: scale(.9);
  }

  .nav-contact-btn {
    position: relative;
    right: -2rem;
    background-color: $color-btn;
    color: $color-text-dark;
    height: 5rem;
    display: flex;
    align-items: flex-end;
    padding: 1rem 1.5rem 1rem 2rem;
    transform: translateY(-1rem);
    border-bottom-left-radius: 15px;
  }
}

//Footer

footer {
  margin: 2rem auto 0 auto;
  font-size: 1.4rem;
  flex-direction: column;
  background-color: rgba(12, 12, 12, 1);
  color: #555;
  width: 100vw;

  .footerRow {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 2rem 0;

    @include respond(desktop-lg) {
      max-width: 100rem;
      margin: auto;
    }

    .footerLink {
      color: #888;
    }

    .bold {
      color: #aaa;
      font-weight: bold;
    }

    .footerLogoGroup {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: clamp(30px, 1vw, 50px);
      }
    }

    .footerBtn {
      padding: 1.5rem;
      border-radius: $border-radius-small;
      font-size: 1.6rem;
    }

    .thanks {
      font-size: 1.05rem;
      line-height: 2;
      width: 50%;
      // border: 1px solid red;
      width: fit-content;

    }

    .credits {
      font-size: .8rem;
      text-align: center;
      width: 80%;
      line-height: 1.6;

      a {
        color: #555;
        font-weight: 500;
      }
    }
  }

  .btnThanksGroup {
    height: 10rem;
    // border: 1px solid green;
    display: flex;
    justify-content: space-evenly;

    @include respond(desktop-sm) {
      max-width: 50rem;
      margin: auto;
    }
  }


}