.heroContainer {
  background: url(../img/bg/bg_willy_vertical.png) no-repeat center center/cover;
  background-attachment: fixed;
  height: 160vw;

  @include respond(phone-xs) {
    height: 190vw;
  }

  @include respond(landscape) {
    height: 100vh;
  }

  @include respond(desktop-lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: 70%;
    background-repeat: repeat-x;
  }

  @include respond(desktop-xl) {
    background-size: 40%;
    // background-position: 0 -10%;
  }

  .heroImg {
    display: none;
    width: 40%;
    height: 65vh;
    border-radius: 50px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background: url(../img/components/cantina_outside.png) no-repeat;
    background-size: cover;
    background-position: 40%;
    // box-shadow: 0 10px 10px 10px rgba(0, 0, 0, .4);
    box-shadow: 0 10px 20px rgba($color: #000, $alpha: .4);
    // outline: 5px solid rgb(63, 63, 63, .5);
    outline-offset: 30px;
    // overflow: hidden;

    @include respond(desktop-lg) {
      display: block;
    }
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto;
    // border: 1px solid red;

    @include respond(desktop-lg) {
      width: 50%;
    }

    .heroHeadingGroup {
      text-transform: uppercase;
      text-align: center;
      margin: $padding-medium 0;
      width: 100%;
      line-height: .7;

      .crown {
        padding-bottom: $padding-large;
        width: clamp(50px, 25vw, 90px);
      }

      .heroMainHeading {
        font-family: $font-special-main;
        font-size: clamp(2rem, 18vmin, 10rem);
        font-weight: 100;
        letter-spacing: 7px;
        padding-bottom: .5rem;
      }

      .heroSubHeading {
        font-family: $font-special-sec;
        font-size: clamp(.5rem, 7vmin, 3rem);
        font-weight: lighter;
        letter-spacing: 1px;
      }
    }

    .heroText {
      max-width: 50rem;
      padding: $padding-medium;
      line-height: 1.8;
      letter-spacing: 1px;
      font-size: clamp(1.2rem, 10vw, 2rem);
      font-weight: 100;
      // border: 1px solid red;
      text-align: center;

      @include respond(desktop-lg) {
        text-align: left;
      }

      .text-bold {
        font-weight: bold;
      }
    }
  }

  .heroContactBtn {
    position: relative;
    margin: 4rem 0;

    .heroBtn {
      @include absCenter;
    }

    .hero-circle {
      @include absCenter;
      width: 30rem;
    }

    .hero-arrow-down {
      height: clamp(5.5rem, 5vh, 10rem);
      transform: translateY(160%);

      @include respond(phone-xs) {
        height: 7vh;
      }
    }
  }
}